h2 {
  color: rgb(16, 11, 75);
}
#contenedor {
  width: 30.5%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgb(223, 224, 224);
  border-radius: 2%;
}

#log {
  color: rgb(19, 93, 128);
  width: 76%;
  padding: 11.7%;
  border: 3px solid black;
  border-radius: 2%;
  font-weight: bold;
}

#log [type="text"],
#log [type="password"] {
  color: black;
  width: 100%;
  padding: 2%;
  margin-bottom: 15px;
  border: 1px solid #ccccccd2;
  border-radius: 5px;
}

#log [type="submit"] {
  color: white;
  background-color: rgb(60, 177, 231);
  width: 105%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#log [type="submit"]:hover {
  background-color: #187bcd;
  text-shadow: rgb(0, 0, 0);
}

body {
  background-image: url(../Img/FondoAzul2.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 6%;
}

div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 30.5%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgb(223, 224, 224);
  border-radius: 2%;
}

#registro {
  color: rgb(60, 177, 231);
  width: 20%;
  margin: auto;
  margin-top: 30px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

#registro [type="text"],
#registro [type="password"] {
  color: black;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#registro [type="submit"] {
  color: white;
  background-color: rgb(60, 177, 231);
  width: 103.5%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registro [type="submit"]:hover {
  background-color: #187bcd;
}
